In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas_profiling import ProfileReport
import os

2022-04-17 17:36:04,735 - visions.backends - INFO - Pandas backend loaded 1.4.2
2022-04-17 17:36:04,739 - visions.backends - INFO - Numpy backend loaded 1.22.3
2022-04-17 17:36:04,740 - visions.backends - INFO - Pyspark backend NOT loaded
2022-04-17 17:36:04,741 - visions.backends - INFO - Python backend loaded

/home/lilivah/defy/defy/venv/lib/python3.8/site-packages/pandas_profiling/model/summary_algorithms.py:7: DeprecationWarning: Please use `chisquare` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  from scipy.stats.stats import chisquare

In [2]:
data = catalog.load('maintenance_data')

2022-04-17 17:36:06,170 - kedro.io.data_catalog - INFO - Loading data from `maintenance_data` (CSVDataSet)...

In [76]:
data.head(5)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000,2020
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,493384,721044,469792,339156,157956,73224,0,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,178064,293306,245416,133654,81140,97576,1500,0,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,159812,423992,409564,320746,158022,95128,514,0,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,46,58,44,10,0,0,0,4,32,0
4,neg,60874,na,1368,458,0,0,0,0,0,...,229790,405298,347188,286954,311560,433954,1218,0,0,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76000 entries, 0 to 75999
Columns: 172 entries, class to 2020
dtypes: int64(2), object(170)
memory usage: 99.7+ MB

In [6]:
data.describe()

             aa_000          2020
count  7.600000e+04  76000.000000
mean   6.115976e+04      0.210526
std    2.647366e+05      0.407685
min    0.000000e+00      0.000000
25%    8.600000e+02      0.000000
50%    3.081300e+04      0.000000
75%    4.884000e+04      0.000000
max    4.294967e+07      1.000000

In [40]:
count_class = data[['2020', 'class']].groupby('class').count()
print(count_class)

        2020
class
neg    74625
pos     1375

In [39]:
count_2020 = data[['2020', 'class']].groupby('2020').count()
print(count_2020)

      class
2020
0     60000
1     16000

In [64]:
prepared_data.skew().sort_values(ascending=False)

ad_000    268.903325
df_000    232.780332
dh_000    225.650999
au_000    192.449092
az_009    173.613281
             ...
ac_000      1.796595
2020        1.422263
ca_000      0.757620
cb_000      0.689261
cd_000      0.000000
Length: 123, dtype: float64

In [65]:
transformed_data.skew().sort_values(ascending=False)

dl_000    19.835834
dj_000    19.347894
dk_000    14.870331
ef_000    11.566660
dz_000    10.520930
            ...
cb_000    -0.570911
az_003    -0.572282
ba_007    -0.646700
ag_007    -0.648258
eb_000    -0.661495
Length: 118, dtype: float64

In [74]:
pairplot_dataset = transformed_data[['aa_000', 'ac_000', 'ad_000', 'ae_000', 'ag_004', 'ag_006', 'ag_009', 'ay_005', 'ba_000', 'cb_000', 'cv_000', 'class']].reset_index()

In [75]:
g = sns.PairGrid(pairplot_dataset, hue="class")
g.map_diag(sns.histplot)
g.map_offdiag(sns.scatterplot)
g.add_legend()

## Pd profile raw data

In [13]:
this_folder = os.getcwd()
html_folder = '/pandas_profiling_html/'
raw_data_profiling = 'raw_data_profiling.html'

In [14]:
profile = ProfileReport(data, minimal = True, explorative = True)
profile.to_file(this_folder + html_folder + raw_data_profiling)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Pd profile prepared data

In [16]:
prepared_data = catalog.load('maintenance_prepared_data')

2022-04-17 17:55:53,320 - kedro.io.data_catalog - INFO - Loading data from `maintenance_prepared_data` (CSVDataSet)...

In [17]:
prepared_data.head(10)

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ec_00,ee_001,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000,2020
0,0,76698,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2445.80,1706908.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0,0
1,0,33058,0.000000e+00,128.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2211.76,824154.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0,0
2,0,41040,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1018.64,453378.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0,0
3,0,12,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,318.0,...,1.08,1566.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0,0
4,0,60874,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1116.06,904230.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0,0
5,0,38312,2.130706e+09,218.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1013.14,481542.0,300412.0,1534.0,338.0,856.0,0.0,0.0,0.0,0
6,0,14,6.000000e+00,128.0,0.0,0.0,0.0,0.0,0.0,0.0,...,374.44,1562.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,0,102960,2.130706e+09,116.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2018.08,907360.0,1052166.0,1108672.0,341532.0,129504.0,7832.0,0.0,0.0,0
8,0,78696,0.000000e+00,128.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2668.64,1759758.0,1012704.0,160090.0,63216.0,41202.0,4.0,0.0,0.0,0
9,1,153204,1.820000e+02,128.0,0.0,0.0,0.0,0.0,0.0,11804.0,...,1.90,293880.0,22472.0,34362.0,0.0,0.0,0.0,0.0,0.0,0

In [18]:
this_folder = os.getcwd()
html_folder = '/pandas_profiling_html/'
raw_data_profiling = 'clean_data_profiling.html'

In [19]:
profile = ProfileReport(prepared_data, minimal = True, explorative = True)
profile.to_file(this_folder + html_folder + raw_data_profiling)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Pd profile transformed data

In [23]:
x_train = catalog.load('x_train')
x_test = catalog.load('x_test')
y_train = catalog.load('y_train')
y_test = catalog.load('y_test')

transformed_data = pd.concat([x_train, y_train], axis=1)
transformed_data_test = pd.concat([x_test, y_test], axis=1)
transformed_data = pd.concat([transformed_data, transformed_data_test])

2022-04-17 18:00:16,997 - kedro.io.data_catalog - INFO - Loading data from `x_train` (CSVDataSet)...
2022-04-17 18:00:18,903 - kedro.io.data_catalog - INFO - Loading data from `x_test` (CSVDataSet)...
2022-04-17 18:00:19,145 - kedro.io.data_catalog - INFO - Loading data from `y_train` (CSVDataSet)...
2022-04-17 18:00:19,152 - kedro.io.data_catalog - INFO - Loading data from `y_test` (CSVDataSet)...

In [24]:
transformed_data.shape

(127958, 118)

In [25]:
transformed_data.head(10)

,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,ag_004,...,ec_00,ee_001,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000,class
0,0.911657,1.748367,0.534254,-0.185616,-0.188972,-0.053172,-0.102086,-0.216194,-0.495527,0.681648,...,1.114363,1.261081,0.831545,0.880596,0.759216,0.827136,-0.874992,-0.066841,-0.091583,0
1,0.493409,-1.561502,0.054147,-0.185616,-0.188972,-0.053172,-0.102086,-0.216194,-0.495527,0.470946,...,1.027053,0.857974,0.521743,0.533758,0.541427,0.892366,1.097345,-0.066841,-0.091583,0
2,0.595649,0.089724,-0.091026,-0.185616,-0.188972,-0.053172,-0.102086,-0.216194,-0.495527,-0.238249,...,0.416734,0.556585,0.763126,0.858693,0.759357,0.886566,0.926847,-0.066841,-0.091583,0
3,-1.597142,-0.187150,-0.328602,-0.185616,5.291967,-0.053172,-0.102086,-0.216194,1.942282,-0.151562,...,-1.988121,-1.331738,-1.482881,-1.445307,-1.569238,-1.254589,-0.874992,14.960973,10.919032,0
4,0.791240,0.448803,0.851640,-0.185616,-0.188972,-0.053172,-0.102086,-0.216194,-0.495527,0.729195,...,0.483195,0.907048,0.682877,0.815440,0.997215,1.242544,1.066318,-0.066841,-0.091583,0
5,0.562755,1.748367,0.377453,-0.185616,-0.188972,-0.053172,-0.102086,-0.216194,-0.495527,0.266367,...,0.412838,0.585842,0.614472,-0.681475,-0.781345,-0.101494,-0.874992,-0.066841,-0.091583,0
6,-1.577624,-0.853265,0.054147,-0.185616,-0.188972,-0.053172,-0.102086,-0.216194,-0.495527,-0.331147,...,-0.228048,-1.332294,-1.525226,-1.680886,-1.569238,-1.254589,-0.874992,-0.066841,-0.091583,0
7,1.071614,1.748367,-0.004102,-0.185616,-0.188972,-0.053172,-0.102086,-0.216194,-0.495527,-0.162689,...,0.949214,0.908889,1.268565,1.381986,1.030692,0.957348,1.311691,-0.066841,-0.091583,0
8,0.925333,-1.561502,0.054147,-0.185616,-0.188972,-0.053172,-0.102086,-0.216194,-0.495527,-0.614815,...,1.191677,1.278881,1.246426,0.597971,0.463585,0.698509,-0.236577,-0.066841,-0.091583,0
9,1.299632,0.039455,0.054147,-0.185616,-0.188972,-0.053172,-0.102086,-0.216194,2.054556,1.543084,...,-1.926657,0.353261,-0.358620,0.092853,-1.569238,-1.254589,-0.874992,-0.066841,-0.091583,1

In [26]:
this_folder = os.getcwd()
html_folder = '/pandas_profiling_html/'
raw_data_profiling = 'transformed_data_profiling.html'

In [57]:
profile = ProfileReport(transformed_data, minimal = True, explorative = True)
profile.to_file(this_folder + html_folder + raw_data_profiling)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]